<div class="card">
    <div class="title">
        <h2>Problema #1</h2>
    </div>
    <div class="content">
        <message></message>
    </div>
</div>

<div class="card">
    <div class="title">
        <h2>Problema #2</h2>
    </div>
    <div class="content">
        <textinput></textinput>
    </div>
</div>

<div class="card">
    <div class="title">
        <h2>Problema #3</h2>
    </div>
    <div class="content">
        <todo-list></todo-list>
    </div>
</div>

<div class="card">
    <div class="title">
        <h2>Problema #4</h2>
    </div>
    <div class="content">
        <greeter></greeter>
    </div>
</div>

<div class="card">
    <div class="title">
        <h2>Problema #5</h2>
    </div>
    <div class="content">
        <suma></suma>
    </div>
</div>

<div class="card">
    <div class="title">
        <h2>Problema #6</h2>
    </div>
    <div class="content">
        <x-component></x-component>
    </div>
</div>